<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="com.googlecode.pongo.ui.ecore"
            nameFilter="*.ecore"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="Pongo"
               path="additions"
               id="com.googlecode.pongo.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="com.googlecode.pongo.ui.PongoObjectActionDelegate"
               enablesFor="1"
               icon="icons/generateall.png"
               id="com.googlecode.pongo.newAction"
               label="Generate Pongos"
               menubarPath="com.googlecode.pongo.menu1/group1">
         </action>
      </objectContribution>
      <objectContribution
            id="com.googlecode.pongo.ui.emfatic"
            nameFilter="*.emf"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="Pongo"
               path="additions"
               id="com.googlecode.pongo.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="com.googlecode.pongo.ui.PongoObjectActionDelegate"
               enablesFor="1"
               icon="icons/generateall.png"
               id="com.googlecode.pongo.newAction"
               label="Generate Pongos"
               menubarPath="com.googlecode.pongo.menu1/group1">
         </action>
      </objectContribution>

   </extension>

</plugin>
