<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin>
   







<extension point="com.googlecode.pongo.runtime.osgi">
    <class name="com.googlecode.pongo.tests.blog.model.Blog"/>
    <class name="com.googlecode.pongo.tests.blog.model.Post"/>
    <class name="com.googlecode.pongo.tests.blog.model.Stats"/>
    <class name="com.googlecode.pongo.tests.blog.model.Comment"/>
    <class name="com.googlecode.pongo.tests.blog.model.Person"/>
    <class name="com.googlecode.pongo.tests.blog.model.Author"/>
    <class name="com.googlecode.pongo.tests.blog.model.Member"/>
  </extension>
</plugin>
